{{#> layout_page}}
    {{#*inline "page_content"}}
        <h1>
            Files
        </h1>
        <div class="row justify-content-center pb-4">
            <div class="col-lg-6">
                <form action="/files" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="file">Pick a file to share</label>
                        <input type="file" class="form-control" id="file" name="file">
                    </div>
                    <div class="text-right">
                        <input type="submit" class="btn btn-primary" value="Save">
                    </div>
                </form>
            </div>
        </div>


        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Size</th>
                    <th scope="col">Last Modified</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{#each files as |file| }}
                    <tr>
                        <td>
                            {{file.name}}
                        </td>
                        <td>
                            {{file.size}} Bytes
                        </td>
                        <td>
                            {{file.last_modified}}
                        </td>
                        <td>
                            {{#if (eq file.download_status "Downloaded") }}
                                <a href="#/files/{{file.id}}">View</a>
                            {{/if}}

                            {{#if (eq file.download_status "Downloading") }}
                                <a href="#/files/{{file.id}}/download">Download</a>
                            {{/if}}

                            {{#if (eq file.download_status "NotDownloaded") }}
                                <a href="#/files/{{file.id}}/download">Download</a>
                            {{/if}}
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
        <script>
            setTimeout(function () {

                if (window.location.hash === "#/files") {
                    window.load_page("/files")
                }

            }, 5000);
        </script>
    {{/inline}}
{{/layout_page}}
